// import & define fonts vars
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
$font-family-serif: "Montserrat", sans-serif;
$font-optical-sizing: auto;
$font-weight: bold;
$font-style: normal;